
h1 {
    width: 75vh;
    display: flex;
    margin-right: 100px;
    display: inline;
}
h3 {
    width: 75vh;
    display: flex;
}

div {
    height: 430px;
    width: 850px;
    background-image: url(./image.png) ;
    background-size: 900px;
    margin-left: 30px;
    padding-left: 50px;

}

.div {
    color: white;
    height: 45vh;
    display: flex;
    align-items:end;

}

.button {
    color:gray;
    background-color: white;
    border-color: white;
    box-shadow: none;
    border-right: 0px;
    border-bottom: 0px;
    height: 30px;
    width: 200px;
}

button{
    width: 100px;
    color:gray;
    background-color: white;
    border-color: white;
    box-shadow: none;
    border-right: 0px;
    border-bottom: 0px;
}
