#numbers {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr; 
    gap: 10px;
}


#numbers > div {
    background-color: chartreuse;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}


#one {
    grid-column: 1 / 6;
}

#two {
    grid-column: 1 / 2;
}
#three {
    grid-column: 2 / 4;
}

#four {
    grid-column: 4 / 6; 
}

#five {
    grid-column: 1 / 6;
}