* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 46, 104);
}

div {
    background-image: url(./aaaaa.png);
    background-size: cover;
    height: 75vh;
    width: 150vh;
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

h4 {
    color: rgb(122, 122, 122);
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}



h2 {
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    display: inline;
}


