body {
    background-color: rgb(71, 91, 129);
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all {
    height: 700px;
    width: 500px;
    gap: 50px;
}

#top {
    background-color: rgb(26, 37, 63);
    height: 150px;
    width: 500px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

h1 {
    margin-right: 50px;
    font-size: xxx-large;
}

#bottom {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-color: rgb(34, 47, 77) ;
    border-radius: 25px;
}

button {
    width: 110px;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 20px grey;
    
}

#blue {
    background-color: rgb(89, 89, 165);
    color: white;
}

#blueL {
    background-color: rgb(89, 89, 165);
    color: white;
    width: 237px;
}

#red {
    background-color: rgb(155, 80, 80);
    color: white;
    width: 230px;
}