div {
    border: 1px black;
}

#a {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#b {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#c {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#d{
    height: 100px;
    width: 100px;
    background-color: blue;
}

#a:hover {
    transform: translate(300Px);
}

#b:hover {
    transform: scale(300Px);
}

#c:hover {
    transform: skew(300Px);
}

#d:hover {
    transform: rotate(300Px);
}