* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.child {
    border-radius: 10px;
}

#div-1 {
    background-color: red;
    /* grid-column-start / grid-column-end */
    grid-column-start: 1;
    grid-column-end: 3;
}

#div-2 {
    background-color: orange;
}

#div-3 {
    background-color: aquamarine;
}

#div-4 {
    background-color: green;
    /* grid-column-start / grid-column-end */
    grid-column-start: 1;
    grid-column-end: 3;
}