body {
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    padding: 50px;
    height: 450px;
    width: 250px;
    background-color: white;
}

img {
    height: 150px;
    width: 250px;
}