#aaa {
    background-color: blue;
    height: 200px;
    width: 200px;
}

div {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#big_div {
    border: 1px solid black;
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}